.pressy[data-v-fae65d9b]{transition:transform .2s cubic-bezier(.19,1,.2,1)}.pressy[data-v-fae65d9b]:active{transform:translateY(2px);transition:none}._scroll[data-v-fae65d9b]{animation-timing-function:linear!important;animation-duration:20s;animation-iteration-count:infinite}._scroll-left[data-v-fae65d9b],._scroll-right[data-v-fae65d9b]{animation-name:anim-scroll-h-fae65d9b}._scroll-up[data-v-fae65d9b],._scroll-down[data-v-fae65d9b]{animation-name:anim-scroll-v-fae65d9b}._scroll-left[data-v-fae65d9b],._scroll-down[data-v-fae65d9b]{animation-direction:reverse}@keyframes anim-scroll-h-fae65d9b{0%{background-position:0 0}to{background-position:800px 0}}@keyframes anim-scroll-v-fae65d9b{0%{background-position:0 0}to{background-position:0 -800px}}.pressy[data-v-875567b5]{transition:transform .2s cubic-bezier(.19,1,.2,1)}.pressy[data-v-875567b5]:active{transform:translateY(2px);transition:none}.AppBackground[data-v-875567b5]{position:relative}._backdrop[data-v-875567b5]{--background-pos: 0;left:var(--background-pos);top:var(--background-pos);right:var(--background-pos);bottom:var(--background-pos)}._bleed[data-v-875567b5]{--background-pos: -17.5px}@media screen and (min-width: 992px){._bleed[data-v-875567b5]{--background-pos: -21.5px}}._stretch[data-v-875567b5]{position:absolute;left:0;top:0;right:0;bottom:0}._inner[data-v-875567b5]{z-index:1;position:relative;width:100%;height:100%}

/*
     FILE ARCHIVED ON 18:41:59 May 25, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:40:36 Feb 15, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.543
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.009
  esindex: 0.014
  cdx.remote: 141.726
  LoadShardBlock: 650.967 (3)
  PetaboxLoader3.datanode: 97.806 (4)
  PetaboxLoader3.resolve: 646.515 (2)
  load_resource: 125.482
*/