.pressy[data-v-93a9bca4]{transition:transform .2s cubic-bezier(.19,1,.2,1)}.pressy[data-v-93a9bca4]:active{transform:translateY(2px);transition:none}.game-ogrs-tag[data-v-93a9bca4]{display:inline-block;margin-bottom:0;vertical-align:middle;border:4px solid #000;background:#000}.game-ogrs-tag[data-v-93a9bca4] img{display:block;margin-left:auto;margin-right:auto}.-face[data-v-93a9bca4],.-logo[data-v-93a9bca4]{margin-top:4px}.pressy[data-v-151e50fd]{transition:transform .2s cubic-bezier(.19,1,.2,1)}.pressy[data-v-151e50fd]:active{transform:translateY(2px);transition:none}.game-ogrs[data-v-151e50fd]{border-radius:6px;margin-bottom:15px;border:4px solid #000;background:#000}.game-ogrs.no-descriptors[data-v-151e50fd]{float:left}.game-ogrs-tag[data-v-151e50fd]{float:left;border:0!important}.game-ogrs-descriptors[data-v-151e50fd]{margin-left:80px;padding:10px;border-left:4px solid #000;background:#fff;border-top-right-radius:5px;border-bottom-right-radius:5px;min-height:114px}.game-ogrs.hide-tag .game-ogrs-descriptors[data-v-151e50fd]{margin-left:0;border-left:0}.game-ogrs-descriptor[data-v-151e50fd]{margin:0 0 .5em;font-family:Nunito,Helvetica Neue,Helvetica,Arial,sans-serif;font-weight:700;font-size:13px;line-height:1;color:#000}

/*
     FILE ARCHIVED ON 21:56:13 May 25, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:40:37 Feb 15, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.56
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.01
  esindex: 0.011
  cdx.remote: 182.339
  LoadShardBlock: 95.447 (3)
  PetaboxLoader3.datanode: 433.475 (5)
  load_resource: 628.15 (2)
  PetaboxLoader3.resolve: 127.728 (2)
*/