.pressy[data-v-90503a17]{transition:transform .2s cubic-bezier(.19,1,.2,1)}.pressy[data-v-90503a17]:active{transform:translateY(2px);transition:none}.pill[data-v-90503a17]{border-radius:6px;--theme-bg-actual: var(--theme-bg-offset);--theme-bg-actual-trans: var(--theme-bg-offset-trans);background-color:#f0f0f0;background-color:var(--theme-bg-offset);color:#292929;color:var(--theme-fg);display:inline-flex;align-items:center;padding:5px 10px;font-size:13px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;margin-right:5px;margin-bottom:5px}.pill.active[data-v-90503a17]{--theme-bg-actual: var(--theme-bi-bg);--theme-bg-actual-trans: var(--theme-bi-bg-trans);background-color:#2f7f6f;background-color:var(--theme-bi-bg);color:#cf0;color:var(--theme-bi-fg)}.pill.-bleed-img[data-v-90503a17]{padding:0;overflow:hidden}.pill.-bleed-img .-content[data-v-90503a17]{padding:5px 10px 5px 0}.pill.-bleed-img .-img[data-v-90503a17]{width:unset;height:unset;margin-right:12px}a.pill[data-v-90503a17]{transition:transform .2s cubic-bezier(.19,1,.2,1);cursor:pointer}a.pill[data-v-90503a17]:active{transform:translateY(2px);transition:none}a.pill[data-v-90503a17]:hover{--theme-bg-actual: var(--theme-bi-bg);--theme-bg-actual-trans: var(--theme-bi-bg-trans);background-color:#2f7f6f;background-color:var(--theme-bi-bg);color:#cf0;color:var(--theme-bi-fg)}.-img[data-v-90503a17]{margin-right:5px;width:18px;height:18px}

/*
     FILE ARCHIVED ON 18:41:59 May 25, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:40:37 Feb 15, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.382
  exclusion.robots: 0.013
  exclusion.robots.policy: 0.007
  esindex: 0.008
  cdx.remote: 11.814
  LoadShardBlock: 734.981 (3)
  PetaboxLoader3.datanode: 668.557 (4)
  load_resource: 110.987
  PetaboxLoader3.resolve: 81.699
*/