.pressy[data-v-ea6763b5]{transition:transform .2s cubic-bezier(.19,1,.2,1)}.pressy[data-v-ea6763b5]:active{transform:translateY(2px);transition:none}._anim-progress[data-v-ea6763b5]{animation:anim-progress-ea6763b5}@keyframes anim-progress-ea6763b5{0%{transform:translateY(0)}to{transform:translateY(100%)}}.pressy[data-v-265f8fe6]{transition:transform .2s cubic-bezier(.19,1,.2,1)}.pressy[data-v-265f8fe6]:active{transform:translateY(2px);transition:none}.fade-enter-active[data-v-265f8fe6],.fade-leave-active[data-v-265f8fe6]{transition:opacity .4s cubic-bezier(.19,1,.2,1),transform .4s cubic-bezier(.19,1,.2,1)}.fade-enter-from[data-v-265f8fe6],.fade-leave-to[data-v-265f8fe6]{opacity:0;position:absolute}.fade-enter-from[data-v-265f8fe6]{transform:translateY(20px)}.fade-leave-to[data-v-265f8fe6]{transform:translateY(-20px)}.pressy[data-v-609f576a]{transition:transform .2s cubic-bezier(.19,1,.2,1)}.pressy[data-v-609f576a]:active{transform:translateY(2px);transition:none}.fade-enter-active[data-v-609f576a],.fade-leave-active[data-v-609f576a]{transition:opacity .4s cubic-bezier(.19,1,.2,1),transform .4s cubic-bezier(.19,1,.2,1)}.fade-enter-from[data-v-609f576a],.fade-leave-to[data-v-609f576a]{opacity:0;position:absolute}.fade-enter-from[data-v-609f576a]{transform:translateY(20px)}.fade-leave-to[data-v-609f576a]{transform:translateY(-20px)}.pressy[data-v-cf58264f]{transition:transform .2s cubic-bezier(.19,1,.2,1)}.pressy[data-v-cf58264f]:active{transform:translateY(2px);transition:none}._close.v-enter-active[data-v-cf58264f]{animation-delay:.1s}.shell-notice-container[data-v-cf58264f]{position:fixed;left:0;right:0;z-index:1200;margin-top:8px}@media screen and (min-width: 768px){.shell-notice-container[data-v-cf58264f]{left:auto;margin-top:16px}}

/*
     FILE ARCHIVED ON 18:42:00 May 25, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:40:36 Feb 15, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.46
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 17.958
  LoadShardBlock: 171.032 (3)
  PetaboxLoader3.datanode: 113.747 (4)
  PetaboxLoader3.resolve: 132.704 (2)
  load_resource: 100.972
*/